header{
    text-align: center;
}

nav{
   
    height:60px;
    margin: 0 auto;
    border-radius:5px;

}

ul li{
    list-style: none;
    width: 160px;
    line-height: 60px;
    position: relative;
    box-shadow:0px 2px 5px 0px grey;
    text-align: center;
    float: left;
    background: linear-gradient(darkred 20%,black 80%);
}

* {
    box-sizing: border-box;
  }
  
  .container {
    padding: 16px;
    background-color: white;
  }
  input[type=text],input[type=number],input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=number]:focus, input[type=number]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  

  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }

  a {
    color: dodgerblue;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}